<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="defaultConnectionString" value="PRONETConnection"/>
  </appSettings>
  <connectionStrings>
    <add name="PRONETConnectionOFF" connectionString="Data Source=LOCALHOST\SQL2012;Initial Catalog=APLNet;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient"/>
    <add name="PRONETConnectionOFF2" connectionString="Data Source=LOCALHOST\SQL2012;Initial Catalog=APLNet;User Id=;password=;Pooling=True;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
    <add name="PRONETConnection" connectionString="Data Source=APLVM01\SQL2012;Initial Catalog=APLNet;User Id=;password=;Pooling=True;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="APLPromoter.Server.Services.UserService" behaviorConfiguration="DefaultBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="APLPromoter.Server.Services.Contracts.IUserService"/>
        <endpoint address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange"  />
                  </service>
      <service name="APLPromoter.Server.Services.AnalyticService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="APLPromoter.Server.Services.Contracts.IAnalyticService"/>
        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"  />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000"
                 transactionFlow="true"

          >
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="MaxBufferBinding" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000"


                 >
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="clientExceptionTrace">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
